@model IEnumerable<IsTakip.Core.Entites.Kullanici>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn btn-outline-warning" asp-action="Create">Yeni Oluştur</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MusteriId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciSifre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciKodu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MailBildirim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleTanim)
            </th>
            
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MusteriId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciSifre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciKodu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailBildirim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleTanim)
            </td>        
            <td>
                <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Detaylar</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
