@model IsTakip.Core.Entites.Depo

@{
    ViewData["Title"] = "Delete";
}

<h3>Silmek istediğine emin misin?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tanim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tanim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yetkili)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yetkili)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YetkiliTelefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YetkiliTelefon)
        </dd>    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aktif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aktif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Silindi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Silindi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a class="btn btn-warning" asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
